<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.note">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_note">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
    <application>
        <activity android:name=".NoteControllerActivity">
            <meta-data
                android:name="com.example.structural.flutter.CustomFlutterLoader.aot-shared-library-name"
                android:value="libnoteapp.so" />
            <meta-data
                android:name="com.example.structural.flutter.CustomFlutterLoader.flutter-assets-dir"
                android:value="flutter_assets_note" />
        </activity>
    </application>
</manifest>