<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.note">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_note">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
    <application>
        <activity android:name=".NoteControllerActivity" >
            <meta-data
                android:name="io.flutter.embedding.engine.loader.FlutterLoader.flutter-assets-dir"
                android:value="flutter_assets_note" />
        </activity>
    </application>
</manifest>